{% extends 'base.html.twig' %}

{% block body %}
    <table class="uk-table uk-table-divider uk-table-small uk-table-responsive uk-table-middle">
        <thead>
        <tr>
            <th class="uk-table-expand"></th>
            <th class="uk-table-expand">Type</th>
            <th class="uk-table-expand">Options</th>
            <th class="uk-table-expand">Wrapper</th>
            <th class="uk-table-expand">Visitor</th>
        </tr>
        </thead>
        <tbody id="logs-tbody">
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
        var tableBody = document.getElementById('logs-tbody');
        var count = 0;
        window["onYopaLoaded"] = function (yopa) {
            yopa.on('pixel', function (pixelUrl, type, opts, wrapper, visitor) {
                tableBody.insertAdjacentHTML('afterBegin', '<tr>' +
                    '<td><button class="uk-button" uk-toggle="target: #modal-'+ count +'" type="button">Show pixel url</button></td>' +
                    '<td><pre>'+ type +'</pre></td>' +
                    '<td><pre>'+ opts +'</pre></td>' +
                    '<td><pre>'+ wrapper +'</pre></td>' +
                    '<td>'+ (typeof visitor !== "undefined" ? ('<pre>' + visitor + '</pre>') : '') +'</td>' +
                    '</tr>');
                tableBody.insertAdjacentHTML('afterEnd', '<div id="modal-'+ count +'" uk-modal>'+
                    '<div style="width: 100%;" class="uk-modal-dialog uk-modal-body">' +
                    '<button class="uk-modal-close-outside" type="button" uk-close></button>' +
                    '<pre>'+ pixelUrl +'</pre>' +
                    // '<button class="uk-modal-close" type="button"></button>' +
                    '</div>' +
                    '</div>');
                count++;
            });
            {% if app.user %}
                yopa.identity({{ app.user|json_encode }});
            {% endif %}
            {% if pixel is defined and pixel.action is defined %}
            yopa.page({{ pixel.action|json_encode|raw }}, {{ pixel|default({})|json_encode|raw }});
            {% endif %}
            yopa.click('a sample button click');
            yopa.mailing('subscribe');
        };
    </script>
{% endblock %}
